<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div>  <%= f.email_field :email, placeholder: "Email", class: "input-large" %></div>

  <div>  <%= f.text_field :username, placeholder: "Name", class: "input-large" %></div>

  <div>  <%= f.password_field :password, placeholder:"Password", class: "input-large", autocomplete: "off" %> 
    <i>(leave blank if you don't want to change it)</i></div>

  <div>  <%= f.password_field :password_confirmation, placeholder:"Password Confirmation", class: "input-large" %></div>

  <div>  <%= f.password_field :current_password, placeholder:"Current Password", class: "input-large" %>
    <i>(we need your current password to confirm your changes)</i></div>
  
  <div><%= f.submit "Update", class: "fm-btn-signup" %></div>
<% end %>

<%= link_to "Back", :back %>
