<!DOCTYPE html>
<html>
<head>
	<title>Freemark</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %></head>
<body>
	<div class="fm-navbar">
		<div class="fm-navbar-inner">
				<a class="brand" href="/">FreeMark</a>

				<ul class="fm-navbar-login">
					<% if user_signed_in? %>

					<li >
						<%= link_to 'My Account', edit_user_registration_path %>
					</li>
					<li class="divider-vertical"></li>
					<li>
						<%= link_to "Logout", destroy_user_session_path, method: :delete %>
					</li>

					<% else %>
					<li>
						<%= link_to "Sign Up", new_user_registration_path %>
					</li>
					<li class="divider-vertical"></li>
					<li >
						<%= link_to "Login", new_user_session_path %>
					</li>
					<li class="divider-vertical"></li>

					<% end %>
				</ul>
		</div>
	</div>
	<div class="<%= content_for?(:container) ? 'fm-container-setup' : 'fm-container' %>">

	<%= content_tag(:div, notice, class: "fm-notice") if notice %>
	<%= content_tag(:div, alert, class: "fm-alert") if alert %>
	<%= yield %>
	</div>
</body>
</html>